[Unit]
Description=Feishu Alertmanager Proxy
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt
ExecStart=/usr/bin/python3 /opt/feishu_alert_proxy.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
